'exception-reporting':
  'userId': '099d31a8-9536-3b2e-3a87-b4d575942070'
'release-notes':
  'viewedVersion': '0.61.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8a092eaf7f10b8c7b624b71851713d90282fabb5'
'editor':
  'autoIndent': true
  'autoIndentOnPaste': true
  'nonWordCharacters': '(){}[]"\':/-_.,<>'
  'fontFamily': 'Monaco'
  'invisibles': [
    'tab'
    'cr'
    'eol'
    'space'
  ]
  'normalizeIndentOnPaste': false
  'preferredLineLenght': 80
  'showInvisibles': true
  'showIndentGuide': false
  'showLineNumbers': true
  'tabLength': 2
  'softWrap': true
'core':
  'disablePackages': []
  'excludeVcsIgnoredPaths': true
  'ignoredNames': true
  'projectHome': '~/Sites/js'
  'theme': []
'fuzzyFinder':
  'ignoredNames': true
'whitespace':
  'ensureSingleTrailingNewline': true
  'removeTrailingWhitespace': true
'wrap-guide':
  'columns': [
    {
      'patter': ''
      'column': null
    }
  ]
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
