# Just for sake of use 1 key less during million times invoke command palette.
'.platform-darwin, .platform-darwin .command-palette .editor':
  'cmd-p': 'command-palette:toggle'

# Cursor operation setup based on Emacs
'.editor':
  # Characters
  'ctrl-b': 'core:move-left' #move backward
  'ctrl-f': 'core:move-right' #move forward
  'ctrl-h': 'core:backspace' #delete backward
  'ctrl-d': 'core:delete' #delete forward
  # Words
  'alt-b': 'editor:move-to-beginning-of-word' #move backward
  'alt-f': 'editor:move-to-end-of-word' #move forward
  'alt-B': 'editor:select-to-beginning-of-word'
  'alt-F': 'editor:select-to-end-of-word'
  'alt-h': 'editor:backspace-to-beginning-of-word' #delete backward
  'alt-d': 'editor:delete-to-end-of-word' #delete forward
  # Lines
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
  'ctrl-K': 'editor:delete-line' #delete whole line
  # Sentences
  'alt-a': 'editor:move-to-first-character-of-line' #move forward
  'alt-e': 'editor:move-to-end-of-screen-line' #move backward #insert ´
  # End/Start of line
  'ctrl-a': 'editor:move-to-beginning-of-line' #move backward
  'ctrl-e': 'editor:move-to-end-of-line' #move forward
  'ctrl-A': 'editor:select-to-first-character-of-line'
  'ctrl-E': 'editor:select-to-end-of-line'
  'ctrl-x': 'editor:backspace-to-beginning-of-line' #delete to BOL
  'ctrl-k': 'editor:cut-to-end-of-line' #delete to EOL
  # Move selection
  'cmd-ctrl-p': 'editor:move-line-up'
  'cmd-ctrl-n': 'editor:move-line-down'
  # File
  'alt-p p': 'core:move-to-top'
  'alt-p n': 'core:move-to-bottom'
  'alt-p P': 'core:select-to-top'
  'alt-p N': 'core:select-to-bottom'

# Next set up proper vim mode

# Tree view
'.tree-view':
  'k': 'core:move-up'
  'j': 'core:move-down'
  'a': 'tree-view:add'
  'd': 'tree-view:delete'
  'm': 'tree-view:move'
  'ctrl-0': 'tree-view:toggle-focus'
  'ctrl-c': 'tree-view:copy-full-path'
  'ctrl-o': 'tree-view:open-selected-entry'
  'ctrl-[': 'tree-view:collapse-directory'
  'ctrl-]': 'tree-view:expand-directory'
  'ctrl-|': 'tree-view:reveal-active-file'
'.platform-darwin':
  'cmd-\\': 'tree-view:toggel'
